<div class="w-64 h-full bg-gray-800 text-white flex flex-col shadow-lg">
    <div class="p-6 text-2xl font-bold border-b border-gray-700 text-center">
        Techno-Logic
    </div>
    <nav class="flex-grow p-4 space-y-2">
        <a routerLink="/admin" routerLinkActive="bg-gray-700" [routerLinkActiveOptions]="{exact: true}"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Dashboard</a>
        <a routerLink="/inventario" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Inventario</a>
        <a routerLink="/entradas" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Compras</a>
        <a routerLink="/salidas" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Ventas</a>
        <a routerLink="/ordenes" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Órdenes</a>
        <a routerLink="/ensamble" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Ensamble</a>
        <a routerLink="/mantenimiento" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Mantenimiento</a>
        <a routerLink="/admin/usuarios" routerLinkActive="bg-gray-700"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-gray-700">Usuarios</a>
    </nav>
</div>